/* 
made by u/vanjavk
if you have any questions feel free to contact me
*/
body,
p,
a {
    margin: 0;
}

body {
    background-image: url(%%background%%);
    background-repeat: no-repeat;
    width: 312px;
    height: 312px;
    overflow: hidden;
}

a {
    position: absolute;
    width: 20px;
    /* The full size of the dots */
    height: 20px;
    overflow: hidden;
    font-size: 0;
    background-image: url(%%grbovi%%);
    /* The spritesheet of flags */
    background-repeat: no-repeat;
    transform: scale(0.33);
    /* We scale every dot to 1/3rd of the size */
    border-radius: 100%;
    /*We make the dots round */
    /*box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.4); /* A drop shadow */
    transition: transform 0.4s ease;
    box-shadow: 0px 0px 3px 1.5px rgba(0,0,0,0.5);
    /*Smooth transitions*/
}

/* A trick to make the dots yellows in such a way we can transition
 * smoothly between yellow and the full flag
 */

a::before {
    content: "";
    display: block;
    background: yellow;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: opacity 0.25s ease-out;
    /*transition: opacity 0.25s ease;    */
}


a:hover::before {
    opacity: 0;
}

body:hover a::before {
    transition: opacity 0.25s ease-out;
}

body:hover a {
    transform: scale(0.4);
    transition: transform 0.4s ease;
    /* when we hover over the map, the dots becomes a bit larger */
}


body a:hover {
    box-shadow: none;
    transition: transform 0.2s ease;
    transform: scale(1);
    /* when we hover over a dot, it becomes its full size*/
    z-index: 1;
    border-radius: 0%;
}

a[href="https://zagreb.hr/"]{
  top: 46.919778404798px;
  left: 120.28574479154335px;
  background-position: 0px -0px;
}

a[href="https://zagreb.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.split.hr/"]{
  top: 215.3808444112919px;
  left: 144.4937682850608px;
  background-position: 0px -20px;
}

a[href="http://www.split.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.rijeka.hr/"]{
  top: 82.67651088456734px;
  left: 40.33930576071643px;
  background-position: 0px -40px;
}

a[href="https://www.rijeka.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.osijek.hr/"]{
  top: 65.8450618551875px;
  left: 260.1521347281308px;
  background-position: 0px -60px;
}

a[href="http://www.osijek.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.grad-zadar.hr/"]{
  top: 171.25717295548756px;
  left: 81.09185880722355px;
  background-position: 0px -80px;
}

a[href="http://www.grad-zadar.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.slavonski-brod.hr/"]{
  top: 94.39073667672099px;
  left: 225.7635206834918px;
  background-position: 0px -100px;
}

a[href="https://www.slavonski-brod.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.karlovac.hr/"]{
  top: 71.26390825804887px;
  left: 97.80689918104082px;
  background-position: 0px -120px;
}

a[href="https://www.karlovac.hr/"]::before{
  background: #ffff00;
}

a[href="https://sisak.hr"]{
  top: 72.20237258696305px;
  left: 141.18014181325353px;
  background-position: 0px -140px;
}

a[href="https://sisak.hr"]::before{
  background: #ffff00;
}

a[href="https://varazdin.hr/"]{
  top: 11.62088505950123px;
  left: 138.44174944310672px;
  background-position: 0px -160px;
}

a[href="https://varazdin.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.sibenik.hr/"]{
  top: 198.58342840738052px;
  left: 115.44416084255951px;
  background-position: 0px -180px;
}

a[href="http://www.sibenik.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.dubrovnik.hr/"]{
  top: 278.89859328848087px;
  left: 230.51863017603506px;
  background-position: 0px -200px;
}

a[href="https://www.dubrovnik.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.bjelovar.hr/"]{
  top: 40.83378245760732px;
  left: 164.37889894534007px;
  background-position: 0px -220px;
}

a[href="http://www.bjelovar.hr/"]::before{
  background: #ffff00;
}

a[href="https://koprivnica.hr/"]{
  top: 21.642515576408126px;
  left: 164.11952745031778px;
  background-position: 0px -240px;
}

a[href="https://koprivnica.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.vukovar.hr/"]{
  top: 81.00151638000314px;
  left: 276.94612778503296px;
  background-position: 0px -260px;
}

a[href="http://www.vukovar.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.cakovec.hr/web/"]{
  top: 5.35230850357204px;
  left: 143.62917934355346px;
  background-position: 0px -280px;
}

a[href="https://www.cakovec.hr/web/"]::before{
  background: #ffff00;
}

a[href="http://www.pozega.hr/"]{
  top: 82.23897471378707px;
  left: 207.96773116421545px;
  background-position: 0px -300px;
}

a[href="http://www.pozega.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.virovitica.hr/"]{
  top: 45.70262303470585px;
  left: 192.9097633977968px;
  background-position: 0px -320px;
}

a[href="https://www.virovitica.hr/"]::before{
  background: #ffff00;
}

a[href="http://gospic.hr/"]{
  top: 139.71944015019673px;
  left: 88.72889685525911px;
  background-position: 0px -340px;
}

a[href="http://gospic.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.krapina.hr/"]{
  top: 21.84539914883844px;
  left: 114.40667486247008px;
  background-position: 0px -360px;
}

a[href="https://www.krapina.hr/"]::before{
  background: #ffff00;
}

a[href="http://www.pazin.hr/"]{
  top: 89.0147602007905px;
  left: 14.116380745267449px;
  background-position: 0px -380px;
}

a[href="http://www.pazin.hr/"]::before{
  background: #ffff00;
}

a[href="https://www.reddit.com/r/bih"]{
  top: 189.3326532205659px;
  left: 246.51324028527847px;
  background-position: 0px -400px;
}

a[href="https://www.reddit.com/r/bih"]::before{
  background: #ffcc00;
}

a[href="https://www.reddit.com/r/slovenia"]{
  top: 29.473178788457496px;
  left: 43.77115375995495px;
  background-position: 0px -420px;
}

a[href="https://www.reddit.com/r/slovenia"]::before{
  background: #ffcc00;
}

a[href="https://www.reddit.com/r/montenegro"]{
  top: 293.4314254860911px;
  left: 290.4105689603333px;
  background-position: 0px -440px;
}

a[href="https://www.reddit.com/r/montenegro"]::before{
  background: #ffcc00;
}

a[href="http://www.np-brijuni.hr"]{
  top: 112.93281994549px;
  left: 5.153643111873738px;
  background-position: 0px -460px;
 transform: scale(0.2475);
}
body:hover a[href="http://www.np-brijuni.hr"]{

 transform: scale(0.30000000000000004);
}

a[href="http://www.np-brijuni.hr"]::before{
  background: #00af00;
}

body a[href="http://www.np-brijuni.hr"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.np-kornati.hr/"]{
  top: 194.44491026523454px;
  left: 86.50981809244601px;
  background-position: 0px -480px;
 transform: scale(0.2475);
}
body:hover a[href="http://www.np-kornati.hr/"]{

 transform: scale(0.30000000000000004);
}

a[href="http://www.np-kornati.hr/"]::before{
  background: #00af00;
}

body a[href="http://www.np-kornati.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.np-krka.hr/"]{
  top: 189.90069801047224px;
  left: 119.91110860413309px;
  background-position: 0px -500px;
 transform: scale(0.33);
}
body:hover a[href="http://www.np-krka.hr/"]{

 transform: scale(0.4);
}

a[href="http://www.np-krka.hr/"]::before{
  background: #00af00;
}

body a[href="http://www.np-krka.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://np-mljet.hr/"]{
  top: 269.66812106535804px;
  left: 196.36806728952752px;
  background-position: 0px -520px;
 transform: scale(0.2475);
}
body:hover a[href="https://np-mljet.hr/"]{

 transform: scale(0.30000000000000004);
}

a[href="https://np-mljet.hr/"]::before{
  background: #00af00;
}

body a[href="https://np-mljet.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://np-paklenica.hr/"]{
  top: 152.81653147293315px;
  left: 91.75488033908663px;
  background-position: 0px -540px;
 transform: scale(0.2475);
}
body:hover a[href="https://np-paklenica.hr/"]{

 transform: scale(0.30000000000000004);
}

a[href="https://np-paklenica.hr/"]::before{
  background: #00af00;
}

body a[href="https://np-paklenica.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://np-plitvicka-jezera.hr/"]{
  top: 115.9352485078239px;
  left: 100.38619307614087px;
  background-position: 0px -560px;
 transform: scale(0.33);
}
body:hover a[href="https://np-plitvicka-jezera.hr/"]{

 transform: scale(0.4);
}

a[href="https://np-plitvicka-jezera.hr/"]::before{
  background: #00af00;
}

body a[href="https://np-plitvicka-jezera.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://np-risnjak.hr/"]{
  top: 75.28068165028846px;
  left: 56.048088482445024px;
  background-position: 0px -580px;
 transform: scale(0.165);
}
body:hover a[href="http://np-risnjak.hr/"]{

 transform: scale(0.2);
}

a[href="http://np-risnjak.hr/"]::before{
  background: #00af00;
}

body a[href="http://np-risnjak.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.np-sjeverni-velebit.hr/"]{
  top: 128.97961055075703px;
  left: 69.63624986087113px;
  background-position: 0px -600px;
 transform: scale(0.165);
}
body:hover a[href="http://www.np-sjeverni-velebit.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.np-sjeverni-velebit.hr/"]::before{
  background: #00af00;
}

body a[href="http://www.np-sjeverni-velebit.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://pp-biokovo.hr/"]{
  top: 227.06600337053413px;
  left: 174.7537587462334px;
  background-position: 0px -620px;
 transform: scale(0.165);
}
body:hover a[href="https://pp-biokovo.hr/"]{

 transform: scale(0.2);
}

a[href="https://pp-biokovo.hr/"]::before{
  background: #00ff00;
}

body a[href="https://pp-biokovo.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://pp-kopacki-rit.hr/"]{
  top: 60.49165234249715px;
  left: 271.1679014932243px;
  background-position: 0px -640px;
 transform: scale(0.165);
}
body:hover a[href="https://pp-kopacki-rit.hr/"]{

 transform: scale(0.2);
}

a[href="https://pp-kopacki-rit.hr/"]::before{
  background: #00ff00;
}

body a[href="https://pp-kopacki-rit.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.pp-lonjsko-polje.hr/"]{
  top: 57.85365467520508px;
  left: 140.86210048605713px;
  background-position: 0px -660px;
 transform: scale(0.165);
}
body:hover a[href="http://www.pp-lonjsko-polje.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.pp-lonjsko-polje.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.pp-lonjsko-polje.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.pp-medvednica.hr/"]{
  top: 39.77518008814317px;
  left: 119.96220478865249px;
  background-position: 0px -680px;
 transform: scale(0.165);
}
body:hover a[href="http://www.pp-medvednica.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.pp-medvednica.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.pp-medvednica.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://pp-papuk.hr/"]{
  top: 70.88370239841244px;
  left: 212.52478458315971px;
  background-position: 0px -700px;
 transform: scale(0.165);
}
body:hover a[href="http://pp-papuk.hr/"]{

 transform: scale(0.2);
}

a[href="http://pp-papuk.hr/"]::before{
  background: #00ff00;
}

body a[href="http://pp-papuk.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://pp-telascica.hr/"]{
  top: 187.54336325493168px;
  left: 77.49017435304432px;
  background-position: 0px -720px;
 transform: scale(0.2475);
}
body:hover a[href="http://pp-telascica.hr/"]{

 transform: scale(0.30000000000000004);
}

a[href="http://pp-telascica.hr/"]::before{
  background: #00ff00;
}

body a[href="http://pp-telascica.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.pp-velebit.hr/"]{
  top: 153.074846518176px;
  left: 104.13556365958576px;
  background-position: 0px -740px;
 transform: scale(0.165);
}
body:hover a[href="http://www.pp-velebit.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.pp-velebit.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.pp-velebit.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.pp-vransko-jezero.hr/"]{
  top: 187.62859188309082px;
  left: 98.84438516113013px;
  background-position: 0px -760px;
 transform: scale(0.2475);
}
body:hover a[href="http://www.pp-vransko-jezero.hr/"]{

 transform: scale(0.30000000000000004);
}

a[href="http://www.pp-vransko-jezero.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.pp-vransko-jezero.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.pp-ucka.hr/"]{
  top: 90.19167480471717px;
  left: 27.680835569048476px;
  background-position: 0px -780px;
 transform: scale(0.165);
}
body:hover a[href="http://www.pp-ucka.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.pp-ucka.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.pp-ucka.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://www.park-zumberak.hr/"]{
  top: 54.709908721707606px;
  left: 91.58198330050476px;
  background-position: 0px -800px;
 transform: scale(0.165);
}
body:hover a[href="http://www.park-zumberak.hr/"]{

 transform: scale(0.2);
}

a[href="http://www.park-zumberak.hr/"]::before{
  background: #00ff00;
}

body a[href="http://www.park-zumberak.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="http://pp-lastovo.hr/"]{
  top: 270.8853494676935px;
  left: 166.7997168569815px;
  background-position: 0px -820px;
 transform: scale(0.165);
}
body:hover a[href="http://pp-lastovo.hr/"]{

 transform: scale(0.2);
}

a[href="http://pp-lastovo.hr/"]::before{
  background: #00ff00;
}

body a[href="http://pp-lastovo.hr/"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://mingor.gov.hr/UserDocsImages/Vijesti_dokumenti/08.05.2020.%20Nacrt%20Zakona%20o%20progla%C5%A1enju%20PP%20Dinara%20sa%20obrazlo%C5%BEenjem_javni%20uvid.pdf"]{
  top: 175.13365140797302px;
  left: 141.26371130894975px;
  background-position: 0px -840px;
 transform: scale(0.2475);
}
body:hover a[href="https://mingor.gov.hr/UserDocsImages/Vijesti_dokumenti/08.05.2020.%20Nacrt%20Zakona%20o%20progla%C5%A1enju%20PP%20Dinara%20sa%20obrazlo%C5%BEenjem_javni%20uvid.pdf"]{

 transform: scale(0.30000000000000004);
}

a[href="https://mingor.gov.hr/UserDocsImages/Vijesti_dokumenti/08.05.2020.%20Nacrt%20Zakona%20o%20progla%C5%A1enju%20PP%20Dinara%20sa%20obrazlo%C5%BEenjem_javni%20uvid.pdf"]::before{
  background: #00ff00;
}

body a[href="https://mingor.gov.hr/UserDocsImages/Vijesti_dokumenti/08.05.2020.%20Nacrt%20Zakona%20o%20progla%C5%A1enju%20PP%20Dinara%20sa%20obrazlo%C5%BEenjem_javni%20uvid.pdf"]:hover{
transform: scale(1);
box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
}

a[href="https://www.youtube.com/watch?v=cUbCp2WgkYw"]{
  width: 1px;
  height: 1px;
  transform: scale(1);
  z-index: 1000;
  opacity: 0;
  top: 206.1px;
  left: 148.5px;
}
body:hover a[href="https://www.youtube.com/watch?v=cUbCp2WgkYw"] {
    transform: scale(1);
    /* when we hover over the map, the dots becomes a bit larger */
}