
div.side .md>ul a[href="https://www.youtube.com/watch?v=cUbCp2WgkYw"]{
  width: 1px;
  height: 1px;
  transform: scale(1);
  z-index: 1000;
  opacity: 0;
  top: 206.1px;
  left: 148.5px;
}
div.side .md>ul:hover a[href="https://www.youtube.com/watch?v=cUbCp2WgkYw"] {
    transform: scale(1);
    /* when we hover over the map, the dots becomes a bit larger */
}