.st0 {
    display: none;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\38 aa5b2;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\31 a1a1b;
}

.st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #E0E0E0;
}

.st4 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\31 a1a1b;
}

.st5 {
    display: inline;
}

#HR04E_Sisačko-moslavačka_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #A25100;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR04D_Karlovačka_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #CF6800;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR04C_Vukovarsko-srijemska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #F87C00;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR04B_Osječko-baranjska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C66300;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR04A_Brodsko-posavska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FD7E00;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR049_Požeško-slavonska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FB7D00;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR048_Virovitičko-podravska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FF8000;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR047_Bjelovarsko-bilogorska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #E87400;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR046_Međimurska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C26100;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR044_Varaždinska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C76300;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR043_Krapinsko-zagorska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #EE7700;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR042_Zagrebačka_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #CB6600;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR041_Grad_Zagreb {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\34 D2600;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR037_Dubrovačko-neretvanska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 052A4;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR036_Istarska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 03972;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR035_Splitsko-dalmatinska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 065CA;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR034_Šibensko-kninska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 06CD8;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR033_Zadarska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 068CF;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR032_Ličko-senjska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 06BD5;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR031_Primorsko-goranska_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #\30 04283;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

#HR045_Koprivničko-križevačka_županija {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C76300;
    stroke: #\30 00000;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.st26 {
    display: inline;
    fill: none;
    stroke: #0978AB;
    stroke-width: 0.8504;
    stroke-linejoin: round;
    stroke-miterlimit: 3.8637;
}

.st27 {
    display: inline;
    fill: none;
    stroke: #646464;
    stroke-width: 3.1182;
    stroke-linejoin: round;
    stroke-miterlimit: 3.8637;
}

.st28 {
    display: inline;
    fill: none;
    stroke: #646464;
    stroke-width: 0.8504;
    stroke-linejoin: round;
    stroke-miterlimit: 3.8637;
}

.st29 {
    opacity: 0;
    fill: #FFFFFF;
    stroke: #000000;
    stroke-miterlimit: 10;
}